<!-- Estendemos do template base -->
{% extends "erp/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Exclusão de Categorias{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Exclusão de Categorias</h5>

                <p class="card-text">
                    Você tem certeza que quer excluir essa Categoria <b>{{ categorias.nome }} (ID: {{ categorias.id }})</b>?
                </p>

                <form method="post">
                    {% csrf_token %}

                    <hr/>
                    <div class="text-end">
                        <a href="{% url 'erp:lista_categorias' %}" class="btn btn-outline-danger">
                            Cancelar
                        </a>
                        <button class="btn btn-danger">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}