<!DOCTYPE html>
<html lang="ptbr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso Grátis Aqui Tem</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="script.js"></script>
    </head>   
<body>
<!--*******************Cabeçalho início*******************-->
    <header>
        <div class="header-container">

            <div class="logo">
                <p>Logo</p>
                <img src="imagens/#.svg" alt="ícone de logotipo" class="menu-icon">
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <div class="menu-item">
                            <img src="imagens/house.svg" alt="ícone de casa" class="menu-icon">
                            <span class="menu-text">Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <img src="imagens/book.svg" alt="ícone de livro" class="menu-icon">
                            <span class="menu-text">Cursos</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="botao-procurar">
                <input type="text" placeholder="Encontre" alt="digite cursos">
                <button alt="botão para buscar cursos">Buscar Cursos</button>
            </div>

            <div class="user">
                <a href="#"><img src="imagens/menu.svg" alt="ícone de menu" class="menu-icon-dir"></a>
                <a href="#"><img src="imagens/conta.svg" alt="ícone de conta" class="menu-icon-dir"></a>
            </div>            
            
        </div>
    </header>
<!--*******************Cabeçalho fim*******************-->
<!--*******************Menu Lateral início*******************-->
    <aside class="menu-lateral">
        <ul>
            <li><img src="imagens/building.svg" alt="ícone de prédio para cadastrode instituições que ofereçam cursos">Instituições</li>
            <li><img src="imagens/book.svg" alt="ícone de livro para cursos">Cursos</li>
            <li><img src="imagens/graduation.svg" alt="ícone de graduação para busca de cursos por área"> Estudantes</li>
            <li><img src="imagens/glass.svg" alt="ícone de lupa para busca geral"> Busca</li>
            <li><img src="imagens/login.svg" alt="ícone de login"> Login</li>
        </ul>
    </aside>

<!--*******************Menu Lateral fim*******************--> 
<!--*******************Conteúdo início*******************-->   
    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
              <img src="imagens/curso.png" alt="imagem do curso">
              <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
              <button class="acoes-btn like-btn"><img src="imagens/curtir.svg" alt="ícone de curtir">Curtir</button>
              <button class="acoes-btn comentario-btn"><img src="imagens/comentar.svg" alt="ícone de comentar">Comentar</button>
              <button class="acoes-btn compartilhar-btn"><img src="imagens/compartilhar.svg" alt="ícone de compartilhar">Compartilhar</button>
            </div>
        </div> 
    </div>  

    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
              <img src="imagens/curso.png" alt="imagem do curso">
              <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
              <button class="acoes-btn like-btn"><img src="imagens/curtir.svg" alt="ícone de curtir">Curtir</button>
              <button class="acoes-btn comentario-btn"><img src="imagens/comentar.svg" alt="ícone de comentar">Comentar</button>
              <button class="acoes-btn compartilhar-btn"><img src="imagens/compartilhar.svg" alt="ícone de compartilhar">Compartilhar</button>
            </div>
        </div> 
    </div>

    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
              <img src="imagens/curso.png" alt="imagem do curso">
              <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
              <button class="acoes-btn like-btn"><img src="imagens/curtir.svg" alt="ícone de curtir">Curtir</button>
              <button class="acoes-btn comentario-btn"><img src="imagens/comentar.svg" alt="ícone de comentar">Comentar</button>
              <button class="acoes-btn compartilhar-btn"><img src="imagens/compartilhar.svg" alt="ícone de compartilhar">Compartilhar</button>
            </div>
        </div> 
    </div>
<!--*******************Conteúdo fim*******************-->
<!--*******************Sistema de Carregamento início*******************-->
    <div class="indicador-de-carregamento" id="indicador-de-carregamento"> <!--o funcionamento desta classe está em script.js-->
        <p>Carregando...</p>
    </div>
<!--*******************Sistema de Carregamento fim*******************-->
</body>
</html>
