{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso Grátis Aqui Tem</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="{% static 'script/script.js' %}"></script>
    </head>   
<body>
<!--*******************Cabeçalho início*******************-->
    <header>
        <div class="header-container">

            <div class="logo">
                <img src="{% static 'imagens/logo.png' %}" alt="ícone de logotipo" class="menu-icon">
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <div class="menu-item">
                            <img src="{% static 'imagens/house.svg' %}" alt="ícone de casa" class="menu-icon">
                            <span class="menu-text">Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="{% url 'escolher_tipo_conta' %}" target="_blank"> 
                                <img src="{% static 'imagens/conta.svg' %}" alt="ícone de livro" class="menu-icon">
                                <span class="menu-text">Conta</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="botao-procurar">
                <input type="text" placeholder="Encontre" alt="digite cursos">
                <button alt="botão para buscar cursos">Buscar Cursos</button>
            </div>                                                
            
        </div>
    </header>
<!--*******************Cabeçalho fim*******************-->
<!--*******************Menu Lateral início*******************-->
    <aside class="menu-lateral">
        <ul>
            <li><img src="{% static 'imagens/login.svg' %}" alt="ícone de login"> Login</li>
            <li><img src="{% static 'imagens/building.svg' %}" alt="ícone de prédio para cadastro de instituições que ofereçam cursos">Instituições</li>
            <li><img src="{% static 'imagens/graduation.svg' %}" alt="ícone de graduação para busca de cursos por área"> Estudantes</li>
            <li><img src="{% static 'imagens/glass.svg' %}" alt="ícone de lupa para busca geral"> Busca</li>
        </ul>
    </aside>

<!--*******************Menu Lateral fim*******************--> 
<!--*******************Conteúdo início*******************-->   
    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
                <img src="{% static 'imagens/curso.png' %}" alt="imagem do curso">
                <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
                <button class="acoes-btn like-btn"><img src="{% static 'imagens/curtir.svg' %}" alt="ícone de curtir">Curtir</button>
                <button class="acoes-btn comentario-btn"><img src="{% static 'imagens/comentar.svg' %}" alt="ícone de comentar">Comentar</button>
                <button class="acoes-btn compartilhar-btn"><img src="{% static 'imagens/compartilhar.svg' %}" alt="ícone de compartilhar">Compartilhar</button>
            </div>
        </div> 
    </div>  

    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
                <img src="{% static 'imagens/curso.png' %}" alt="imagem do curso">
                <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
                <button class="acoes-btn like-btn"><img src="{% static 'imagens/curtir.svg' %}" alt="ícone de curtir">Curtir</button>
                <button class="acoes-btn comentario-btn"><img src="{% static 'imagens/comentar.svg' %}" alt="ícone de comentar">Comentar</button>
                <button class="acoes-btn compartilhar-btn"><img src="{% static 'imagens/compartilhar.svg' %}" alt="ícone de compartilhar">Compartilhar</button>
            </div>
        </div> 
    </div>

    <div class="postagens-container">
        <div class="post-card">
            <div class="post-conteudo">
                <img src="{% static 'imagens/curso.png' %}" alt="imagem do curso">
                <p>Conteúdo da postagem...</p>
            </div>
            <div class="post-acoes">
                <button class="acoes-btn like-btn"><img src="{% static 'imagens/curtir.svg' %}" alt="ícone de curtir">Curtir</button>
                <button class="acoes-btn comentario-btn"><img src="{% static 'imagens/comentar.svg' %}" alt="ícone de comentar">Comentar</button>
                <button class="acoes-btn compartilhar-btn"><img src="{% static 'imagens/compartilhar.svg' %}" alt="ícone de compartilhar">Compartilhar</button>
           </div>
        </div> 
    </div>
<!--*******************Conteúdo fim*******************-->
<!--*******************Sistema de Carregamento início*******************-->
    <div class="indicador-de-carregamento" id="indicador-de-carregamento"> <!--o funcionamento desta classe está em script.js-->
        <p>Carregando...</p>
    </div>
<!--*******************Sistema de Carregamento fim*******************-->
    <img src="{% static 'nome_da_sua_imagem.png' %}" alt="Minha Imagem">
</body>
</html>
