{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}Cadastro de Estudantes{% endblock %}
    {% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_estudante.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'imagens/logo.png' %}" alt="ícone de logotipo" class="menu-icon"></a>
        <a href="#">Home</a>
        <a href="#" id="sair">Sair</a>
    </header>

    <main>
        {% block content %}
        {{ block.super }}
        <div class="card">
            <h1>Cadastro de Estudantes</h1>
            <form method="post">
                {% csrf_token %}
                <label for="id_nome">Nome:</label>
                <input type="text" name="nome" id="id_nome" required><br>

                <label>Data de Nascimento:</label>
                <div class="date-of-birth">
                    <select name="dia">
                        <option value="">Dia</option>
                        <!-- Adicione opções para os dias aqui, por exemplo, de 1 a 31 -->
                    </select>
                    <select name="mes">
                        <option value="">Mês</option>
                        <!-- Adicione opções para os meses aqui, por exemplo, de janeiro a dezembro -->
                    </select>
                    <select name="ano">
                        <option value="">Ano</option>
                        <!-- Adicione opções para os anos aqui, por exemplo, de 1900 a 2023 -->
                    </select>
                </div>

                <label for="id_telefone">Telefone/Whats:</label>
                <input type="text" name="telefone" id="id_telefone" required><br>

                <label for="id_email">E-mail:</label>
                <input type="email" name="email" id="id_email" required><br>

                <label for="id_site">Sexo:</label>
                <input type="url" name="site" id="id_site" required><br>

                <button type="submit" id="enviar">Enviar</button>
                <a href="{% url 'escolher_tipo_conta' %}" class="link-voltar">Voltar</a>

            </form>
        </div>
        {% endblock %}
    </main>

    <footer>
        <div>&copy; 2021-2023 Inc. All rights reserved. UNIVESP PI-II Turma-004 - BTI</div>
        <div>Hora: <span id="current-time"></span></div>
    </footer>

    <script>
/********* Inicio da Função do tempo no canto direito da tela **********/
        function updateTime() {
            const now = new Date();
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const timeString = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
            document.getElementById('current-time').textContent = timeString;
        }
        updateTime();
        setInterval(updateTime, 1000);
/********* Fim da Função do tempo no canto direito da tela **********/
    </script>
</body>
</html>
