{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}Cadastro Instituição{% endblock %}
    {% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_instituicao.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'imagens/logo.png' %}" alt="ícone de logotipo" class="menu-icon"></a>
        <a href="#">Home</a>
        <a href="#" id="sair">Sair</a>
    </header>

    <main>
        {% block content %}
        {{ block.super }}
        <div class="card">
            <h1>Cadastro de Instituição</h1>
            <form method="post" action="{% url 'cadastro_cursos' %}">
                {% csrf_token %}
                <label for="id_nome">Nome:</label>
                <input type="text" name="nome" id="id_nome" required><br>

                <label for="id_cep">CEP:</label>
                <input type="text" name="cep" id="id_cep" required><br>

                <label for="id_endereco">Endereço:</label>
                <input type="text" name="endereco" id="id_endereco" required><br>

                <label for="id_cidade">Cidade:</label>
                <input type="text" name="cidade" id="id_cidade" required><br>

                <label for="id_uf">UF:</label>
                <input type="text" name="uf" id="id_uf" required><br>

                <label for="id_telefone">Telefone:</label>
                <input type="text" name="telefone" id="id_telefone" required><br>

                <label for="id_email">E-mail:</label>
                <input type="email" name="email" id="id_email" required><br>

                <label for="id_site">Site:</label>
                <input type="url" name="site" id="id_site" required><br>

                <button type="submit" class="botao-cadastrar">Cadastrar</button>
                <a href="{% url 'cadastro_cursos' %}" class="link-proximo">Próximo</a>
                <a href="{% url 'escolher_tipo_conta' %}" class="link-voltar">Voltar</a>                

            </form>
        </div>
        {% endblock %}
    </main>

    <footer>
        <div>&copy; 2021-2023 Inc. All rights reserved. UNIVESP PI-II Turma-004 - BTI</div>
        <div>Hora: <span id="current-time"></span></div>
    </footer>

    <script>
/********* Inicio da Função do tempo no canto direito da tela **********/
        function updateTime() {
            const now = new Date();
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const timeString = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
            document.getElementById('current-time').textContent = timeString;
        }
        updateTime();
        setInterval(updateTime, 1000);
/********* Fim da Função do tempo no canto direito da tela **********/
    </script>
</body>
</html>
