{% load static %}
{% block additional_css %}{% endblock %}
{% block header %}{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/escolher_tipo_conta.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img src="{% static 'imagens/logo.png' %}" alt="ícone de logotipo" class="menu-icon"></a>
        <a href="#">Home</a>
        <a href="#" id="sair">Sair</a>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div>&copy; 2021-2023 Inc. All rights reserved. UNIVESP PI-II Turma-004 - BTI</div>
        <div>Hora: <span id="current-time"></span></div>
    </footer>

    <script>
        // JavaScript para mostrar a hora atual
        function updateTime() {
            const now = new Date();
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const timeString = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
            document.getElementById('current-time').textContent = timeString;
        }

        // Atualiza a hora a cada segundo
        updateTime();
        setInterval(updateTime, 1000);
    </script>
</body>
</html>
