body {
    margin: 0; 
    padding: 0; 
    background-image: url('../imagens/relogio2.jpg');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace, Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
}

header * {
    margin-right: 0;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; 
    width: 100%; 
    max-width: 100%;
    top: 0; 
    overflow: hidden;
}

header img {
    height: 40px;
}

.logo img {
    max-width: 200px;
    height: auto;
  }

header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

#sair {
    margin-right: 30px; 
    white-space: nowrap;
    color: red;
}

main {
    text-align: center;
    padding: 60px 20px 80px 20px; /* Aumenta o preenchimento superior e inferior para evitar sobreposição com cabeçalho e rodapé */
}

h1 {
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card a {
    display: block;
    margin-top: 10px;
    background-color: #0c6eff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

#current-time {
    margin-right: 30px;
}